// Grey colors
$eyck: #252628; // Grey 1514
$durer: #494C4B; // Grey 868
$vermeer: #6D6D6D; // Grey 517
$vinci: #999999; // Grey 284
$delacroix: #C8C8CB; // Grey 166
$munch: #DEDEDE; // Grey 134
$dalí: #E6E6E6; // Grey 124
$magritte: #EFEFEF; // Grey 114
$matisse: #F4F4F4; // Grey 109
$picasso: #F8F8F8; // Grey 106
$aivazovsky: #FFFFFF; // White 101

// Green colors
$boticelli: #699B12; // Green 333
$bosch: #72A716; // Green 289
$raphael: #82BF00; // Green 223
$michelangelo: #A3D562; // Green 171
$kahlo: #C4E88B; // Green 137
$pollock: #D9F0AB; // Green 123
$warhol: #F3F9E6; // Green 107

// Blue colors
$rubens: #5B90E0; // Blue 322
$tintoretto: #8DB2EB; // Blue 216
$botticelli: #9AC2FF; // Blue 182
$rembrandt: #C3DBFF; // Blue 141
$cezanne: #E3EEFF; // Blue 117
$modigliani: #F3F8FF; // Blue 106

// Yellow colors
$holbein: #EEA20F; // Yellow 214
$vasari: #F8C000; // Yellow 167
$monet: #FAD248; // Yellow 146
$klimt: #FADC89; // Yellow 134
$degas: #FDF0C1; // Yellow 114
$cassatt: #FFFAE0; // Yellow 104

// Red colors
$watteau: #B92F10; // Red - 603
$schiele: #CB4022; // Red - 211
$titian: #DE4A2A; // Red 241
$francesca: #FFAB99; // Red 182
$manet: #FFC9B5; // Red 147
$keeffe: #FFE8E3; // Red 117
$basquiat: #FFF2F0; // Red 109

// Brown colors
$greco: #C2BAB5; // Brown 191
$caravaggio: #D6CDC7; // Brown 156
$seurat: #EBE7E4; // Brown 122
$gogh: #F0EEEC; // Brown 115

// Violet colors
$turner: #A08BCC; // Violet 297
$goya: #C3B5E1; // Violet 190

// Premium/Private colors
$clodt: #2F2F31; // Grey 1336
$chagall: #038A5A; // Emerald 439
$bryullov: #00A76B; // Emerald 312
$kusama: #00FCA1; // Emerald 1113

// Modal Background colors
$ivanov: rgba(0, 0, 0, .6);