@keyframes move {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes slide-in {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes slide-in-down {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0);
	}
}
